@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<link rel="stylesheet" href="~/css/weather/style.css" />

<div>
    <h1 class="display-5">@Localizer["Weather forecast"]</h1>
    <br />
    <div id="weather-list"></div>
</div>

@section Scripts {
    <script src="~/js/weather/main.js" defer></script>
}