@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Search Weather"];
}

<link rel="stylesheet" href="~/css/weather/style.css" />

<div>
    <h1 class="display-5">@Localizer["Search Weather"]</h1>
    <div>
        <label for="startDate">@Localizer["Start Date"]:</label>
        <input type="text" id="startDate" name="startDate" placeholder="DD/MM/AAAA" pattern="\d{2}/\d{2}/\d{4}" required>

        <label for="endDate">@Localizer["End Date"]:</label>
        <input type="text" id="endDate" name="endDate" placeholder="DD/MM/AAAA" pattern="\d{2}/\d{2}/\d{4}" required>

        <button type="button" id="weather-search">@Localizer["Search"]</button>
    </div>
    <br />
    <div id="weather-list"></div>
</div>


@section Scripts {
    <script src="~/js/weather/search.js" defer></script>
}